@charset    "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}@font-face {
    font-family: Aa剑豪体 ;
    src: url(font/Aa剑豪体.ttf);
}
@font-face {
    font-family: 白路飞云手写体 ;
    src: url(font/白路飞云手写体.ttf);
}
@font-face {
    font-family: 白路俏丽手写体;
    src: url(font/白路俏丽手写体.ttf);
}
@font-face {
    font-family: 昆明海鸥体;
    src: url(font/昆明海鸥体.ttf);
}
@font-face {
    font-family: 小狼天穹体;
    src: url(font/小狼天穹.ttf);
}
@font-face {
    font-family: 小箱子荣耀体;
    src: url(font/小箱子荣耀体.ttf);
}
@font-face {
    font-family: 伊莫勘比 ;
    src: url(font/伊莫勘比.ttf);
}
    
.one{
    font-family: Aa剑豪体;
    font-size: 24px;
    color: plum;
}
.two{
    font-family: 白路飞云手写体;
    font-size: 80px;
    color: skyblue;
}
.three{
    font-family: 白路俏丽手写体;
    font-size: 24px;
    color: lightgreen;
}
.four{
    font-family: 昆明海鸥体;
    font-size: 40px;
    color: brown;
}
.five{
    font-family: 小狼天穹体;
    font-size: 30px;
    color: rgb(136, 0, 255);
}
.six{
    font-family: 小箱子荣耀体;
    font-size: 25px;
    color: rgb(255, 0, 195);
}
.seven{
    font-family: 伊莫勘比 ;
    font-size: 30px;
    color: rgb(0, 255, 221);
}
.hh{
    padding:20px;
    border:50% solid lightblue;
    box-shadow: 10px 10px 5px grey;
}